

@import url('https://fonts.googleapis.com/css?family=Amarante');

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html { overflow-y: scroll; }
body { 
  background: #eee url('https://i.imgur.com/eeQeRmk.png'); /* https://subtlepatterns.com/weave/ */
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  line-height: 1;
  color: #585858;
  padding: 22px 10px;
  padding-bottom: 55px;
}

::selection { background: #5f74a0; color: #fff; }
::-moz-selection { background: #5f74a0; color: #fff; }
::-webkit-selection { background: #5f74a0; color: #fff; }

br { display: block; line-height: 1.6em; } 

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

input, textarea { 
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; 
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong, b { font-weight: bold; } 

table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }

h1 { 
  font-family: Chalkduster, fantasy;
  font-weight: bold;
  font-size: 3.6em;
  line-height: 1.7em;
  margin-bottom: 10px;
  text-align: center;
}


/** page structure **/
#wrapper {
  display: block;
  width: 850px;
  background: #fff;
  margin: 0 auto;
  padding: 10px 17px;
  -webkit-box-shadow: 2px 2px 3px -1px rgba(0,0,0,0.35);
}

#keywords {
  margin: 0 auto;
  font-size: 1.2em;
  margin-bottom: 15px;
}

#inputform{
    margin: 0 35%;
}
#keywords thead {
  cursor: pointer;
  background: #c9dff0;
}
#keywords thead tr th { 
  font-weight: bold;
  padding: 12px 30px;
  padding-left: 42px;
}
#keywords thead tr th span { 
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

#keywords thead tr th.headerSortUp, #keywords thead tr th.headerSortDown {
  background: #acc8dd;
}

#keywords thead tr th.headerSortUp span {
  background-image: url('https://i.imgur.com/SP99ZPJ.png');
}
#keywords thead tr th.headerSortDown span {
  background-image: url('https://i.imgur.com/RkA9MBo.png');
}


#keywords tbody tr { 
  color: #555;
}
#keywords tbody tr td {
  text-align: center;
  padding: 15px 10px;
}
#keywords tbody tr td.lalign {
  text-align: left;
}


/*button start*/
.lolcontent {
    position: fixed;
    bottom: 0;
    background: rgba(51, 204, 255,0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}


/*#button {*/
/*    width: 300px;*/
/*    height: 50px;*/
    
    /*font-size: 18px;*/
/*    padding: 10px;*/
/*    border: none;*/
/*    background: #F8F8FF;*/
/*    color: #000000;*/
/*    cursor: pointer;*/
/*}*/

#lbutton {
    width: 420px;
    height: 50px;  
    font-family: Chalkduster, fantasy;
    font-size: 15px;
    padding: 10px;
    border: none;
    font-weight:bold;
    background: #fff;
    color: #5f74a0;
    cursor: pointer;
}

#lbutton:hover {
    background: #ffb3d9;
    color: white;
}


#button {
    width: 380px;
    height: 50px;    
    font-size: 15px;
    font-weight:bold;
    padding: 10px;
    font-family: Chalkduster, fantasy;
    border: none;
    background: #fff;
    color: #5f74a0;
    cursor: pointer;
}

#button:hover {
    background:#ffb3d9;
    color: white;
}





#box{
    width: 380px;
    margin: 30px auto;
    font-size: 14px;
    float: right;
    /*opacity:0.8;*/

}
input.example{
    width: 200px;
    border: 1px solid #e2e2e2;
    height: 30px;
    float: right;
    /*opacity:0.8;*/
    background-image: url(assets/images/search.jpg);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position:5px center;
    padding:0 0 0 40px;
}
#search{
    width: 78px;
    height: 32px;
    float: right;
    background: #5f74a0;
    color: white;
    /*opacity:0.8;*/
    text-align: center;
    line-height: 32px;
    cursor: pointer;
}



input.login {
    width: 6%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}
/*button end*/